body {
    background: rgb(6, 149, 220,0.3);
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
  
form {
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    border-radius: 5px;
}
  
.star-rating {
    display: flex;
}
  
.star-rating label {
    font-size: 25px;
    padding: 0 5px;
}

  
.star-rating input {
    display: none;
}
  
  .star-rating label {
    color: #999;
    transition: 0.1s;
}
  
.star-rating label.selected,
.star-rating label.selected ~ label {
    color: gold;
    font-weight: 900;
}
  
.star-rating label[for^=star]:hover, 
.star-rating label:hover ~ label {
    color: grey;
    font-weight: 900;
}
  
form textarea {
    width: calc(100% - 22px);
    height: 100px;
    resize: none;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
}
  
form button {
    background: #00b3ff;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    transition: 0.1s;
}
  
form button:hover {
    background: #fff;
    color: #666;
}